# Postgres
POSTGRES_USER=delivery_user
POSTGRES_PASSWORD=delivery_pass
POSTGRES_DB=delivery_db
POSTGRES_PORT=5432

# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword

MONGO_DB=auth_db
MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_PORT=27017
MONGO_AUTH_SOURCE=auth_db

# RabbitMQ
RABBITMQ_USER=delivery_user
RABBITMQ_PASSWORD=delivery_pass
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Auth Service
AUTH_SERVICE_PORT=3000
JWT_SECRET=your_jwt_secret_here

# Order Service
ORDER_SERVICE_PORT=8080

# Tracking Service
TRACKING_SERVICE_PORT=8081

# API Gateway
API_GATEWAY_PORT=8000
